<!--
Ошибки:
- Если там где нет только Jinja - комментарии нельзя оставлять, появится ошибка

-->



<!--
<h1>Заголовок</h1> — главный заголовок страницы
<h2>Подзаголовок</h2> — для заголовков второго уровня
<h3>Заголовок третьего уровня</h3> … и так далее, вплоть до <h6>
<p>Параграф</p>
<em>текст</em> — курсивный шрифт
<strong>текст</strong> — жирный шрифт
<br> — переход на следующую строку (внутрь br нельзя ничего поместить, также для него нет закрывающего тега)
<a href="https://djangogirls.org">link</a> создаёт ссылку
<ul><li>первый элемент</li><li>второй элемент</li></ul> создаёт список, такой же как этот!
<div></div> определяет раздел страницы

Bootstrap — один из наиболее популярных HTML и CSS фреймворков для разработки красивых сайтов: https://getbootstrap.com/
Он был написан программистами, которые работали в Twitter, а сейчас совершенствуется волонтёрами со всего мира.


{% load static %} - сообщаем нашему HTML-шаблону о том, что мы добавили CSS

<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css"> - шрифт нашего заголовка
Эта строка импортирует шрифт под названием Lobster из шрифтов Google (https://www.google.com/fonts).
в css добавь теперь "font-family: 'Lobster';" - добавиться шрифт


-->



<!--
{% %} означает использование тегов шаблонов Django

создали block — тег шаблона, позволяющий вставлять HTML-код этого блока в другие шаблоны, расширяющие base.html

Параметр example_detail означает, что Django будет искать URL с именем example_detail в файле example.urls.py

pk=example.pk
pk — это сокращение от primary key (первичный ключ). Он уникальным образом определяет каждую запись в базе данных

Поскольку мы не задали первичного ключа в нашей модели Example,
Django создал такой ключ за нас
(по умолчанию это порядковый номер, то есть 1, 2, 3…) и добавил поле pk к каждой записи блога.
Для получения первичного ключа мы напишем post.
pk — точно так же, как мы получали значения остальных полей (title, author и т.д.) нашего объекта Post.
-->